.wrapper{
    min-width: 100%;
    max-width: 100%;
    padding: 0.5rem 0 0 0;
    flex-grow: 1;
    background-color: rgba(0, 0, 46, 0.782);
    color: white;
}
.left{
    width: 200px;
    min-height: 100%;
    overflow-y: auto;
    padding: 0 0.9rem 0 0.9rem;
}
.left .headerTopic{
    color: rgba(255, 255, 255, 0.607);
}
.middle{
    width: 500px;
    min-height: 100%;
    overflow-y: auto;
    padding: 0 0.9rem 0 0.9rem;
}
.right{
    width: 300px;
    min-height: 100%;
    overflow-y: auto;
    padding: 0 0.9rem 0 0.9rem;
}
@media only screen and (max-width: 992px) {
    .left{
        width: 330px;
    }
    .right{
        transform: translateX(100%);
        display: none;
    }
    .middle{
        width: 100%;
    }
}

@media only screen and (max-width: 654px){
    .left{
        display: none;
    }
}